@import '../../../style/base';
@import '../../../style/variables';
.main {
  position: absolute;
  left: 2.5%;
  right: 0;
  top: 10px;
  bottom: 0;
  width: 95%;
  height: 130px;
  border-radius: 10px;
  z-index: 499;
  background: $base-background-color;
  color: $base-font-color;
  .bar{
    width: 98%;
    height:100%;
    padding-top:12px;
    font-size:18px;
    display:inline-block;
    text-align:center;
  }
 }
